.logo {
    width: 150px;
    height: 47px;
  }
  .btn-brand {
    width: 134px;
    height: 45px;
    border-radius: 5px !important;
    background-color:#275A53 !important;
    border-style: none !important;
  }